---
interface Props {
  text: string;
}

const text = Astro.props.text;

/*

flex w-full cursor-text items-center

justify-between rounded-lg px-4 py-2 text-sm

font-medium text-slate-800 !transition-colors !duration-300


dark:text-slate-100 hover:bg-t3-purple/20 border border-t3-purple-200/20


bg-t3-purple-200/10 duration-300 hover:border-t3-purple-200/50


*/
---

<button
  type="button"
  class="py-2.5 px-5 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border focus:z-10 focus:ring-2 focus:ring-purple-400 bg-blue-200/10 text-slate-100 border-blue-200/20 hover:bg-blue-200/20 transition-colors"
>
  {text}
</button>
