---
import { Button } from './ui/button';
---

<header class="flex justify-between py-4 max-w-screen-lg px-4 mx-auto">
  <a href="/" class="text-3xl font-black tracking-tighter text-white"
    >CoonSpace</a
  >
  <div>
    <Button variant="secondary">Login</Button>
  </div>
</header>
