---
import Background from '@/components/Background.astro';
import Header from '@/components/Header.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CoonSpace | Online Markdown Sharing</title>
    <meta
      name="description"
      content="CoonSpace is a fast and easy way to share markdown documents online."
    />
    <meta
      name="keywords"
      content="markdown, online markdown, markdown sharing, markdown editor"
    />
    <meta name="author" content="CoonSpace" />
    <meta property="og:title" content="CoonSpace | Online Markdown Sharing" />
    <meta
      property="og:description"
      content="CoonSpace is a fast and easy way to share markdown documents online."
    />
    <!--
    <meta property="og:image" content="/images/og-image.png" />
    <meta property="og:url" content="https://www.coonspace.com" />
     -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="CoonSpace | Online Markdown Sharing" />
    <meta
      name="twitter:description"
      content="CoonSpace is a fast and easy way to share markdown documents online."
    />
    <!--
    <meta name="twitter:image" content="/images/twitter-image.png" />
     -->
  </head>
  <body class="bg-slate-900">
    <div class="relative pb-4 overflow-hidden w-screen">
      <Header />
      <slot />
      <Background />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100vw;
    height: 100%;
    font-family:
      InterVariable,
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      Arial,
      Noto Sans,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      Segoe UI Symbol,
      'Noto Color Emoji';
  }
</style>
